body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  position: relative;
  padding: 25px;
  width: 400px;
  height: 100%;
  box-shadow: -8px -8px 45px rgba(255, 255, 255, 1),
    8px 8px 45px rgba(0, 0, 0, 0.1);
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2em;
  font-weight: 600;
}

ul {
  position: relative;
}

.list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
